:root {
    /* --image: url('https://www.dreampirates.in/wallpaper/vector/img/25-12-2019-5238-deer-art-vector.jpg'); */
    /* --image: url('https://wallpapercave.com/wp/wp2675445.jpg'); */
    /* --image: url('https://wallpaperaccess.com/full/439757.jpg'); */
    /* --image: url('https://wallpaperaccess.com/full/109676.jpg'); */
    /* --image: url('https://images3.alphacoders.com/106/1069102.jpg'); */
    /* --image: url('https://images.wallpapersden.com/image/download/simple-night_a2htbGyUmZqaraWkpJRmbmdlrWZlbWU.jpg'); */
    --image: url('https://images.hdqwalls.com/download/abstract-simple-colors-8k-jk-1920x1080.jpg');
    /* --image: url('https://wallpaperaccess.com/full/1129092.jpg'); */
    --main-gradient: linear-gradient(315deg, #fdffba 0%, #e5d4ff 74%);
}

/* Imports */
@import './css/card.css';
@import './css/StashSpace.css'; /* For Stash */
@import './css/Importants.css'; /* Don't Delete ! */

html,
body {
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;

    height: 100%;
    /* background-image: linear-gradient(rgb(88, 27, 255), rgb(59, 0, 221)); */
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Globals */
.pointer {
    cursor: pointer !important;
}

.mover {
    cursor: move !important;
}

.outline-none {
    outline: none !important;
}

.force-wrap {
    white-space: normal !important;
    word-wrap: break-word !important;
}

.force-wrap-2 {
    white-space: normal !important;
    word-break: break-all !important;
}

.center-vertically {
    display: flex;
    align-items: center;
}
